.hero-section {
  background-image: url(../image.png); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.navbar{
  background-color:bisque
}

.btn {
  background-color: bisque;
}


