.hero-section {
  background-image: url(../image.png); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.navbar{
  background-color:bisque
}

.btn {
  background-color: bisque;
}

.fw-bold{

  font-weight: 900 !important;
  
}

.fs-6{

  font-size: 16px !important;
  color: white;
}

.container2{
  
}

